In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
earnings_file = "Resources/highest_earning_players.csv"
earnings_df = pd.read_csv(earnings_file)
earnings_df.head()

,PlayerId,NameFirst,NameLast,CurrentHandle,CountryCode,TotalUSDPrize,Game,Genre
0,3883,Peter,Rasmussen,dupreeh,dk,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter
1,3679,Andreas,Højsleth,Xyp9x,dk,1799288.57,Counter-Strike: Global Offensive,First-Person Shooter
2,3885,Nicolai,Reedtz,dev1ce,dk,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter
3,3672,Lukas,Rossander,gla1ve,dk,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter
4,17800,Emil,Reif,Magisk,dk,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter

In [9]:
file_one = "Resources/GeneralEsportData.csv"
esport_df = pd.read_csv(file_one, encoding="ISO-8859-1")
esport_df.head()

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
0,Age of Empires,1997,NaN,190262.81,156839.89,255,96
1,Age of Empires II,1999,NaN,2008941.78,619582.87,1392,1031
2,Age of Empires III,2005,NaN,68613.85,41500.00,108,77
3,Age of Empires Online,2011,NaN,4853.56,775.00,20,13
4,Age of Mythology,2002,NaN,52360.00,52000.00,22,6