In [15]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [16]:
earnings_file = "../Resources/highest_earning_players.csv"
earnings_df = pd.read_csv(earnings_file)
earnings_df.head()

,PlayerId,NameFirst,NameLast,CurrentHandle,CountryCode,TotalUSDPrize,Game,Genre
0,3883,Peter,Rasmussen,dupreeh,dk,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter
1,3679,Andreas,Højsleth,Xyp9x,dk,1799288.57,Counter-Strike: Global Offensive,First-Person Shooter
2,3885,Nicolai,Reedtz,dev1ce,dk,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter
3,3672,Lukas,Rossander,gla1ve,dk,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter
4,17800,Emil,Reif,Magisk,dk,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter

In [17]:
file_one = "../Resources/GeneralEsportData.csv"
esport_df = pd.read_csv(file_one, encoding="ISO-8859-1")
esport_df.head()

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
0,Age of Empires,1997,NaN,190262.81,156839.89,255,96
1,Age of Empires II,1999,NaN,2008941.78,619582.87,1392,1031
2,Age of Empires III,2005,NaN,68613.85,41500.00,108,77
3,Age of Empires Online,2011,NaN,4853.56,775.00,20,13
4,Age of Mythology,2002,NaN,52360.00,52000.00,22,6

In [18]:
# Create a filtered dataframe from specific columns
# earnings_cols = ["PlayerId", "NameFirst", "NameLast", "CurrentHandle", "TotalUSDPrize", "Game", "Genre"]
# earnings_df= earnings_df[earnings_cols].copy()

# Rename the column headers
earnings_df.columns = ["Player ID", "First Name", "Last Name", "Current Handle", "Country Code", "Total USD Prize", "Game", "Genre"]
# mars_df
# earnings_df = earnings_df.rename(columns={"PlayerId": "Player ID",
#                                                           "NameFirst": "First Name",
#                                                           "NameLast": "Last Name",
#                                                         "CurrentHandle": "Current Handle",
#                                                          "TotalUSDPrize": "Total USD Prize"})

# Clean the data by dropping duplicates and setting the index
# earnings_df.drop_duplicates("id", inplace=True)
# earnings_df.set_index("id", inplace=True)

earnings_df.head()

,Player ID,First Name,Last Name,Current Handle,Country Code,Total USD Prize,Game,Genre
0,3883,Peter,Rasmussen,dupreeh,dk,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter
1,3679,Andreas,Højsleth,Xyp9x,dk,1799288.57,Counter-Strike: Global Offensive,First-Person Shooter
2,3885,Nicolai,Reedtz,dev1ce,dk,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter
3,3672,Lukas,Rossander,gla1ve,dk,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter
4,17800,Emil,Reif,Magisk,dk,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter

In [19]:
# Create new dataframe with City, Country, Lat and Lng
earnings_new_df = earnings_df[["Player ID","Total USD Prize", "Game", "Genre"]].copy()
earnings_new_df

,Player ID,Total USD Prize,Game,Genre
0,3883,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter
1,3679,1799288.57,Counter-Strike: Global Offensive,First-Person Shooter
2,3885,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter
3,3672,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter
4,17800,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter
...,...,...,...,...
995,7400,50734.44,Hearthstone,Collectible Card Game
996,3255,50449.60,Hearthstone,Collectible Card Game
997,49164,49300.00,Hearthstone,Collectible Card Game
998,43043,48550.00,Hearthstone,Collectible Card Game
999,1100,47973.61,Hearthstone,Collectible Card Game

In [47]:
unique_highest_earning_games = earnings_df['Game'].unique()
unique_highest_earning_games = unique_highest_earning_games.tolist()
unique_highest_earning_games[5] = "StarCraft II"
unique_highest_earning_games[7] = "PLAYERUNKNOWN'S BATTLEGROUNDS"

In [48]:
unique_games = esport_df['Game'].unique()
unique_games = unique_games.tolist()

for game in unique_highest_earning_games:
	x = np.where(unique_games == game)
	# game_id = np.where(unique_games == game) 
	print (game, x)

# Starcraft II and PUBG are missing because they are spelled StarCraft II and PLAYERUNKNOWN'S BATTLEGROUNDS
# in the other file.

Counter-Strike: Global Offensive (array([], dtype=int64),)
Dota 2 (array([], dtype=int64),)
League of Legends (array([], dtype=int64),)
Fortnite (array([], dtype=int64),)
Overwatch (array([], dtype=int64),)
StarCraft II (array([], dtype=int64),)
Heroes of the Storm (array([], dtype=int64),)
PLAYERUNKNOWN'S BATTLEGROUNDS (array([], dtype=int64),)
Arena of Valor (array([], dtype=int64),)
Hearthstone (array([], dtype=int64),)